#### Data: https://public.tableau.com/s/sites/default/files/media/faa_data_subset.xlsx

#### we are looking to explore hdf5 with wildlife strikes dataset

In [1]:
import pandas as pd
import h5py

C:\ProgramData\Anaconda2\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
# read the xls file with the sheetname
sheets = pd.ExcelFile('faa_data_subset.xlsx')
sheets.sheet_names

[u'FAA Wildlife Strikes']

In [3]:
# look at top 3 rows
df = pd.read_excel('faa_data_subset.xlsx', sheet='FAA Wildlife Strikes')
df.head(3)

,Airport: Code,Airport: Name,Origin State,Origin State Code,Country,Aircraft: Type,Aircraft: Number of engines,Collision Date and Time,When: Time of day,When: Phase of flight,...,Days,Feet above ground,Miles from airport,Wildlife: Animal Category,Wildlife: Species Order,Wildlife: Species Group,Wildlife: Species,Wildlife: Species ID,Number of Strikes,Record ID
0,KAAF,APALACHICOLA REGIONAL ARPT,Florida,FL,United States,NaN,NaN,2012-09-20 19:30:00,NaN,Take-off run,...,NaN,0.0,NaN,Terrestrial Mammals,Canids,"Wolves, Dogs, Foxes, Coyote",Domestic dog,1F12,1,17459
1,KAAF,APALACHICOLA REGIONAL ARPT,Florida,FL,United States,Airplane,1.0,2013-04-23 17:09:00,NaN,Take-off run,...,NaN,NaN,NaN,Birds,"Pelicans, Herons, Egrets, Bitterns, Ibises","Herons, Egrets, Bitterns","Herons, egrets, bitterns",I1,1,17114
2,KABE,LEHIGH VALLEY INTL,Pennsylvania,PA,United States,Airplane,2.0,2009-04-23 09:22:00,Day,Take-off run,...,30.0,0.0,0.0,Birds,"Caracaras, Falcons","Caracaras, Falcons",American kestrel,K5114,1,259361

In [4]:
# look at all the columns, as there are 25 columns we will be able to drop some columns which we don't require
df.columns

Index([u'Airport: Code', u'Airport: Name', u'Origin State',
       u'Origin State Code', u'Country', u'Aircraft: Type',
       u'Aircraft: Number of engines', u'Collision Date and Time',
       u'When: Time of day', u'When: Phase of flight',
       u'Effect: Amount of damage (detailed)', u'Effect: Impact to flight',
       u'Effect: Indicated Damage',
       u'Cost: Aircraft time out of service (hours)', u'Cost: Total $',
       u'Days', u'Feet above ground', u'Miles from airport',
       u'Wildlife: Animal Category', u'Wildlife: Species Order',
       u'Wildlife: Species Group', u'Wildlife: Species',
       u'Wildlife: Species ID', u'Number of Strikes', u'Record ID'],
      dtype='object')

In [5]:
# time the file read 
%timeit pd.read_excel('faa_data_subset.xlsx', sheet='FAA Wildlife Strikes')

1 loop, best of 3: 7.85 s per loop

In [6]:
# look at the length of rows
len(df)

28298

##### 8 seconds it take to read the file