#### Data: https://public.tableau.com/s/sites/default/files/media/faa_data_subset.xlsx

#### we are looking to explore hdf5 with wildlife strikes dataset

In [1]:
import pandas as pd
import h5py

C:\ProgramData\Anaconda2\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
# read the xls file with the sheetname
sheets = pd.ExcelFile('faa_data_subset.xlsx')
sheets.sheet_names

[u'FAA Wildlife Strikes']

In [3]:
# look at top 3 rows
df = pd.read_excel('faa_data_subset.xlsx', sheet='FAA Wildlife Strikes')
df.head(3)

,Airport: Code,Airport: Name,Origin State,Origin State Code,Country,Aircraft: Type,Aircraft: Number of engines,Collision Date and Time,When: Time of day,When: Phase of flight,...,Days,Feet above ground,Miles from airport,Wildlife: Animal Category,Wildlife: Species Order,Wildlife: Species Group,Wildlife: Species,Wildlife: Species ID,Number of Strikes,Record ID
0,KAAF,APALACHICOLA REGIONAL ARPT,Florida,FL,United States,NaN,NaN,2012-09-20 19:30:00,NaN,Take-off run,...,NaN,0.0,NaN,Terrestrial Mammals,Canids,"Wolves, Dogs, Foxes, Coyote",Domestic dog,1F12,1,17459
1,KAAF,APALACHICOLA REGIONAL ARPT,Florida,FL,United States,Airplane,1.0,2013-04-23 17:09:00,NaN,Take-off run,...,NaN,NaN,NaN,Birds,"Pelicans, Herons, Egrets, Bitterns, Ibises","Herons, Egrets, Bitterns","Herons, egrets, bitterns",I1,1,17114
2,KABE,LEHIGH VALLEY INTL,Pennsylvania,PA,United States,Airplane,2.0,2009-04-23 09:22:00,Day,Take-off run,...,30.0,0.0,0.0,Birds,"Caracaras, Falcons","Caracaras, Falcons",American kestrel,K5114,1,259361

In [4]:
# look at all the columns, as there are 25 columns we will be able to drop some columns which we don't require
df.columns

Index([u'Airport: Code', u'Airport: Name', u'Origin State',
       u'Origin State Code', u'Country', u'Aircraft: Type',
       u'Aircraft: Number of engines', u'Collision Date and Time',
       u'When: Time of day', u'When: Phase of flight',
       u'Effect: Amount of damage (detailed)', u'Effect: Impact to flight',
       u'Effect: Indicated Damage',
       u'Cost: Aircraft time out of service (hours)', u'Cost: Total $',
       u'Days', u'Feet above ground', u'Miles from airport',
       u'Wildlife: Animal Category', u'Wildlife: Species Order',
       u'Wildlife: Species Group', u'Wildlife: Species',
       u'Wildlife: Species ID', u'Number of Strikes', u'Record ID'],
      dtype='object')

In [5]:
# time the file read 
%timeit pd.read_excel('faa_data_subset.xlsx', sheet='FAA Wildlife Strikes')

1 loop, best of 3: 7.97 s per loop

In [6]:
# look at the length of rows
len(df)

28298

##### 8 seconds it take to read the file

In [7]:
# 'Airport: Code', 'Origin State Code', 'Wildlife: Species ID', 'Record ID' columns is not needed
for column in ['Airport: Code', 'Origin State Code', 'Wildlife: Species ID', 'Record ID']:
    if column not in ['Record ID']:
        print ", ".join(df[column].values.tolist()[:10])
    else:
        print df[column].values.tolist()[:10]

KAAF, KAAF, KABE, KABE, KABE, KABE, KABE, KABE, KABE, KABE
FL, FL, PA, PA, PA, PA, PA, PA, PA, PA
1F12, I1, K5114, O2205, K3302, NE1, K3302, YM1102, O2205, K3302
[17459L, 17114L, 259361L, 345167L, 262782L, 208167L, 344633L, 4255L, 9581L, 1761L]

In [8]:
# not sure about days column too, so we can ignore this too
df['Days'].value_counts()[:1]

0.000000    653
0.041667    639
0.083333    212
1.000000    150
Name: Days, dtype: int64

In [9]:
exclude_columns = ['Airport: Code', 'Origin State Code', 'Wildlife: Species ID', 'Record ID', 'Days']
include_columns = []
for column in df.columns:
    if column not in exclude_columns:
        include_columns.append(column)

In [10]:
", ".join(include_columns)

u'Airport: Name, Origin State, Country, Aircraft: Type, Aircraft: Number of engines, Collision Date and Time, When: Time of day, When: Phase of flight, Effect: Amount of damage (detailed), Effect: Impact to flight, Effect: Indicated Damage, Cost: Aircraft time out of service (hours), Cost: Total $, Feet above ground, Miles from airport, Wildlife: Animal Category, Wildlife: Species Order, Wildlife: Species Group, Wildlife: Species, Number of Strikes'

In [11]:
df[include_columns]

,Airport: Name,Origin State,Country,Aircraft: Type,Aircraft: Number of engines,Collision Date and Time,When: Time of day,When: Phase of flight,Effect: Amount of damage (detailed),Effect: Impact to flight,Effect: Indicated Damage,Cost: Aircraft time out of service (hours),Cost: Total $,Feet above ground,Miles from airport,Wildlife: Animal Category,Wildlife: Species Order,Wildlife: Species Group,Wildlife: Species,Number of Strikes
0,APALACHICOLA REGIONAL ARPT,Florida,United States,NaN,NaN,2012-09-20 19:30:00,NaN,Take-off run,None,None,No damage,NaN,0,0.0,NaN,Terrestrial Mammals,Canids,"Wolves, Dogs, Foxes, Coyote",Domestic dog,1
1,APALACHICOLA REGIONAL ARPT,Florida,United States,Airplane,1.0,2013-04-23 17:09:00,NaN,Take-off run,None,None,No damage,NaN,0,NaN,NaN,Birds,"Pelicans, Herons, Egrets, Bitterns, Ibises","Herons, Egrets, Bitterns","Herons, egrets, bitterns",1
2,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2009-04-23 09:22:00,Day,Take-off run,Medium,Aborted Take-off,Caused damage,720.0,171132,0.0,0.0,Birds,"Caracaras, Falcons","Caracaras, Falcons",American kestrel,1
3,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2014-04-13 22:00:00,Night,Approach,None,None,No damage,15.0,600,NaN,NaN,Birds,Pigeons and Doves,Doves,Mourning dove,1
4,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2009-03-31 18:15:00,Day,Approach,Medium,None,Caused damage,12.0,188245,NaN,0.0,Birds,"Hawks, Kites, Eagles, Ospreys, Vultures","Kites, Hawks, Eagles",Red-tailed hawk,1
5,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2002-03-19 09:09:00,Day,Take-off run,None,Aborted Take-off,No damage,1.0,0,0.0,0.0,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Gulls, terns, kittiwakes",Gulls,1
6,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,3.0,2014-04-10 18:15:00,Day,Take-off run,None,None,No damage,1.0,0,0.0,0.0,Birds,"Hawks, Kites, Eagles, Ospreys, Vultures","Kites, Hawks, Eagles",Red-tailed hawk,1
7,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,NaN,2002-08-26 13:05:00,Day,Landing Roll,None,Aborted Take-off,No damage,0.0,0,0.0,0.0,Birds,Perching Birds,"Crows, Ravens, Jays, Magpies",American crow,1
8,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,NaN,2005-08-10 18:05:00,Day,Take-off run,None,None,No damage,0.0,0,0.0,0.0,Birds,Pigeons and Doves,Doves,Mourning dove,1
9,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,NaN,2000-09-14 14:40:00,Day,Climb,None,Precautionary Landing,No damage,0.0,0,300.0,NaN,Birds,"Hawks, Kites, Eagles, Ospreys, Vultures","Kites, Hawks, Eagles",Red-tailed hawk,1
10,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,NaN,2005-10-11 00:30:00,Day,Approach,None,None,No damage,0.0,0,2000.0,NaN,Birds,Perching Birds,Other Perching Birds,Perching birds (y),1
11,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2014-08-26 11:15:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Blackbirds,Bobolink,1
12,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2014-06-12 08:45:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Blackbirds,Brown-headed cowbird,1
13,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2010-08-25 06:46:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,Pigeons and Doves,Doves,Mourning dove,1
14,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2011-09-05 10:05:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,Pigeons and Doves,Doves,Mourning dove,1
15,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,1.0,2012-10-20 09:00:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Larks,Horned lark,1
16,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2010-02-18 09:18:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Larks,Horned lark,1
17,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2010-03-04 08:45:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Larks,Horned lark,1
18,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2010-11-11 08:31:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Larks,Horned lark,1
19,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2014-11-27 09:33:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Larks,Horned lark,1
20,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2015-01-24 09:45:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Larks,Horned lark,1
21,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2015-02-08 00:10:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Larks,Horned lark,1
22,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2009-10-28 09:08:00,Day,Take-off run,Medium,Precautionary Landing,Caused damage,NaN,0,0.0,0.0,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Plovers, Lapwings",American golden-plover,1
23,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2012-07-29 11:48:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Plovers, Lapwings",Killdeer,1
24,LEHIGH VALLEY INTL,Pennsylvania,United States,NaN,NaN,2013-07-24 19:27:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Plovers, Lapwings",Killdeer,1
25,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,1.0,2011-09-26 14:00:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,"Caracaras, Falcons","Caracaras, Falcons",American kestrel,1
26,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2008-08-16 11:25:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,"Caracaras, Falcons","Caracaras, Falcons",American kestrel,1
27,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2012-09-12 07:38:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,"Caracaras, Falcons","Caracaras, Falcons",American kestrel,1
28,LEHIGH VALLEY INTL,Pennsylvania,United States,NaN,NaN,2008-08-12 17:15:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,"Caracaras, Falcons","Caracaras, Falcons",American kestrel,1
29,LEHIGH VALLEY INTL,Pennsylvania,United States,Airplane,2.0,2001-03-22 08:30:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,"Hawks, Kites, Eagles, Ospreys, Vultures","Kites, Hawks, Eagles",Hawks,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28268,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,NaN,2006-08-04 10:30:00,Day,Approach,None,None,No damage,0.0,0,NaN,NaN,Birds,"Nightjars, Swifts, Hummingbirds",Swifts,Chimney swift,1
28269,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,NaN,2001-05-16 21:05:00,Night,Take-off run,None,Aborted Take-off,No damage,0.0,0,0.0,0.0,Birds,"Nightjars, Swifts, Hummingbirds",Nightjars,Common nighthawk,1
28270,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,NaN,2002-07-09 22:10:00,Night,Landing Roll,None,None,No damage,0.0,0,0.0,0.0,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Plovers, Lapwings",Killdeer,1
28271,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,NaN,2002-06-26 21:15:00,Night,Approach,None,Precautionary Landing,No damage,0.0,0,50.0,NaN,Birds,Perching Birds,Meadowlarks,Eastern meadowlark,1
28272,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,NaN,2006-03-30 21:45:00,Night,Approach,None,None,No damage,0.0,0,800.0,NaN,Birds,Perching Birds,Thrushes,Thrushes,1
28273,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,NaN,2006-09-07 21:20:00,Night,Approach,None,None,No damage,0.0,0,NaN,NaN,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Plovers, Lapwings",Killdeer,1
28274,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2009-04-07 15:20:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Gulls, terns, kittiwakes",Gulls,1
28275,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2014-08-31 13:22:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Plovers, Lapwings",Killdeer,1
28276,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2013-07-27 10:15:00,Day,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,"Caracaras, Falcons","Caracaras, Falcons",American kestrel,1
28277,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2013-05-12 14:45:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,"Hawks, Kites, Eagles, Ospreys, Vultures","Kites, Hawks, Eagles",Red-tailed hawk,1
28278,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2014-07-01 08:30:00,Day,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Swallows and Martins,Barn swallow,1
28279,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2005-03-23 11:54:00,Day,Approach,None,None,No damage,NaN,0,100.0,NaN,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Gulls, terns, kittiwakes",Gulls,1
28280,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,NaN,NaN,2009-07-20 19:40:00,Day,Landing,None,None,No damage,NaN,0,NaN,NaN,Birds,"Caracaras, Falcons","Caracaras, Falcons",Peregrine falcon,1
28281,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2015-02-13 14:00:00,Day,Climb,Substantial,Precautionary Landing,Caused damage,NaN,0,NaN,NaN,Birds,"Hawks, Kites, Eagles, Ospreys, Vultures","Kites, Hawks, Eagles",Red-tailed hawk,1
28282,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2014-09-28 18:55:00,Dusk,Landing Roll,None,None,No damage,NaN,0,0.0,0.0,Birds,Perching Birds,Meadowlarks,Eastern meadowlark,1
28283,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2000-12-28 22:50:00,Night,Take-off run,None,None,No damage,NaN,0,0.0,0.0,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Gulls, terns, kittiwakes",Gulls,1
28284,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2013-11-15 17:53:00,Night,NaN,None,None,No damage,NaN,0,NaN,NaN,Birds,Owls,Owls,Owls,1
28285,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,2.0,2013-09-22 21:30:00,Night,Approach,None,None,No damage,NaN,0,NaN,NaN,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Plovers, Lapwings",Killdeer,1
28286,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,NaN,NaN,2009-07-28 22:00:00,Night,Approach,None,None,No damage,NaN,0,NaN,NaN,Birds,"Caracaras, Falcons","Caracaras, Falcons",Peregrine falcon,1
28287,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,4.0,2013-02-13 18:10:00,NaN,Take-off run,None,None,No damage,NaN,0,0.0,NaN,Birds,Owls,Owls,Short-eared owl,1
28288,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,4.0,2012-07-09 19:40:00,NaN,Landing,None,None,No damage,NaN,0,0.0,NaN,Birds,"Caracaras, Falcons","Caracaras, Falcons",Peregrine falcon,1
28289,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,4.0,2012-06-04 11:45:00,NaN,Landing,None,None,No damage,NaN,0,0.0,NaN,Birds,Perching Birds,Sparrows,Savannah sparrow,1
28290,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,4.0,2012-06-21 17:57:00,NaN,Landing,None,None,No damage,NaN,0,0.0,NaN,Birds,Perching Birds,Sparrows,Savannah sparrow,1
28291,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,NaN,2012-07-24 19:25:00,NaN,Take-off run,None,None,No damage,NaN,0,10.0,NaN,Birds,Perching Birds,Other Perching Birds,Perching birds (y),1
28292,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,4.0,2012-08-22 20:50:00,NaN,Approach,None,None,No damage,NaN,0,20.0,NaN,Birds,"Gulls, Terns, Sandpipers, Plovers, Skimmers","Plovers, Lapwings",Killdeer,1
28293,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,4.0,2011-11-16 18:20:00,NaN,Approach,None,None,No damage,NaN,0,100.0,NaN,Birds,Perching Birds,Blackbirds,Rusty blackbird,1
28294,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,4.0,2012-11-01 21:20:00,NaN,Approach,None,None,No damage,NaN,0,1900.0,NaN,Birds,"Ducks, Geese, Swans, Waterfowl",Ducks,Ruddy duck,1
28295,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,4.0,2014-05-07 22:00:00,NaN,Take-off run,None,None,No damage,NaN,0,NaN,NaN,Birds,Perching Birds,Sparrows,White-crowned sparrow,1
28296,YOUNGSTOWN-WARREN RGNL ARPT,Ohio,United States,Airplane,4.0,2013-10-28 18:30:00,NaN,Approach,None,None,No damage,NaN,0,NaN,NaN,Birds,Perching Birds,Waxwings,Cedar waxwing,1
28297,ZEPHYRHILLS MUNICIPAL ARPT,Florida,United States,Airplane,3.0,2000-11-05 14:00:00,Day,Descent,Minor,None,Caused damage,NaN,0,4000.0,NaN,Birds,"Hawks, Kites, Eagles, Ospreys, Vultures",Vultures,New World Vultures,1

#### creating multiple hdf files with different view levels will help to reduce the load time

In [12]:
# agg by Origin State, Country, Number of Strikes
state_country_view = df.copy()
# renaming columns which has spaces, replacing spaces with underscores
# converting object columns to str as hdf expects them
state_country_view[['Country', 'Origin State']] = state_country_view[['Country', 'Origin State']].astype('str')
state_country_view = state_country_view.rename(columns={'Origin State': 'Origin_State'})
state_country_view = state_country_view.groupby(['Country', 'Origin_State']).agg({'Number of Strikes': 'sum'})
state_country_view = state_country_view.sort_values('Number of Strikes', ascending=False)

In [13]:
state_country_view.to_hdf('data_views.h5', key='state_country_view', mode='w')

In [14]:
%timeit pd.read_hdf('data_views.h5', key='state_country_view', mode='r')

100 loops, best of 3: 7.12 ms per loop

In [15]:
state_country_df = pd.read_hdf('data_views.h5', key='state_country_view', mode='r')

In [16]:
state_country_df

                              Number of Strikes
Country       Origin_State
United States California                   3026
              Texas                        2306
              Florida                      2239
              New York                     2140
              Pennsylvania                 1286
              Colorado                     1146
              Ohio                         1107
              Illinois                     1088
              Michigan                      925
              Missouri                      890
              New Jersey                    874
              Oregon                        676
              Utah                          663
              Massachusetts                 559
              North Carolina                558
              Washington                    549
              Kentucky                      503
              Tennessee                     498
              Georgia                       490
              Wisconsin                     477
              Nebraska                      441
              Minnesota                     434
              Indiana                       412
              DC                            410
              Virginia                      373
              Louisiana                     371
              Oklahoma                      340
              Connecticut                   328
              Maryland                      307
              Arizona                       298
              Alabama                       279
              Iowa                          221
              Rhode Island                  209
              North Dakota                  191
              Mississippi                   186
              New Hampshire                 165
              Kansas                        153
              Arkansas                      140
              Maine                         125
              West Virginia                 119
              South Carolina                119
              Idaho                         114
              South Dakota                  107
              New Mexico                    104
              Montana                        89
              Nevada                         74
              Vermont                        73
              Delaware                       66
              Wyoming                        50

In [17]:
state_country_df.loc[('United States', ['North Dakota', 'Kansas', 'Montana']), :]

                            Number of Strikes
Country       Origin_State
United States North Dakota                191
              Kansas                      153
              Montana                      89

#### hdf5 preserves the index